In [1]:
import pandas as pd
import numpy as np
import sqlalchemy 
import json
import seaborn as sns 
import matplotlib.pyplot as plt 
from scipy.stats import multivariate_normal as mvn
%matplotlib inline

with open("./input/MNIST_test.json", 'r') as file:
    creds = json.load(file)

In [2]:
creds

{'user': {'0': 'admin'},
 'password': {'0': 'Meisterin'},
 'endpoint': {'0': 'erste-sql.cdjivve55owz.us-east-2.rds.amazonaws.com'},
 'port': {'0': 3306},
 'database': {'0': 'MNIST_test'}}

In [3]:
def get_creds(file_name):
    #load the credentials
    
    with open("./input/"+file_name, 'r') as filename:
        cred = json.load(filename)
    
    #assign values
    user = cred['user']['0']
    password = cred['password']['0']
    url = cred['endpoint']['0']
    port = cred['port']['0']
    db = cred['database']['0']
    
    return user, password, url, port, db

In [4]:
user, password, url, port, db = get_creds('MNIST_test.json')

In [5]:
def get_file(user, password, url, port, db):
    sql_string = f'mysql+pymysql://{user}:{password}@{url}:{port}/{db}'
    file = db+'.csv'
    return pd.read_sql_table(file, sql_string)

In [6]:
df = get_file(user, password, url, port, db)

ValueError: Table MNIST_test.csv not found

In [7]:
df.to_csv("./input/MNIST_test.csv")

NameError: name 'df' is not defined

In [8]:
file = './input/MNIST_test.csv'
mdata = pd.read_csv(file)
mdata.head()

,Unnamed: 0,index,labels,0,1,2,3,4,5,6,...,774,775,776,777,778,779,780,781,782,783
0,0,0,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,4,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0